@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Testing with Github</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h1 style="color:red">Today is @DateTime.Now.ToShortDateString()</h1>
    <br />
    <h2>Time now is @DateTime.Now.ToShortTimeString()</h2>
    <br/>
    <h2>Time now is @DateTime.Now.ToShortTimeString()</h2>
</div>
    